body    {
    font-family: Aleo;
    max-width: auto ;
    box-sizing:border-box;
    font-size: 10px;
    margin: 0; 
}

header  {
    border: 1px solid rgb(54, 34, 34);
    padding: 10px 15px;
}

main {
    max-width: auto;
    border: solid black;
    margin: 0 auto;
    grid-template-rows: 1fr 3fr;
}

.hero-image img {
    width: 95%;
    max-width: 100%;
    height:auto;
    object-fit: cover;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
    grid-template-rows: 3fr 2fr;
}


.hero-banner {
    border: 10px solid black;
    padding: 20px;
    margin: 20px 0;
    background-color: aliceblue;
}